NET "ledd<0>" LOC= "P6";
NET "ledd<1>" LOC= "M6";
NET "ledd<2>" LOC= "M4";
NET "ledd<3>" LOC= "E4";
NET "clkk" LOC= "T8";
NET "serv" LOC= "L16";
NET "Ale" LOC= "E8";
NET "Adata" LOC= "E7";
NET "Aclk" LOC= "F7";
NET "Ace" LOC= "C6"; 
NET "ens" LOC= "C9";
NET "admo" LOC= "E10";

NET "usbdata[0]" LOC= "D16";
NET "usbdata[1]" LOC= "C16";
NET "usbdata[2]" LOC= "C15";
NET "usbdata[3]" LOC= "B16";
NET "usbdata[4]" LOC= "E15";
NET "usbdata[5]" LOC= "E16";
NET "usbdata[6]" LOC= "F15";
NET "usbdata[7]" LOC= "F16";
NET "usbdata[8]" LOC= "H15";
NET "usbdata[9]" LOC= "H16";
NET "usbdata[10]" LOC= "J16";
NET "usbdata[11]" LOC= "K16";
NET "usbdata[12]" LOC= "K15";
NET "usbdata[13]" LOC= "K12";
NET "usbdata[14]" LOC= "K14";
NET "usbdata[15]" LOC= "J13";
NET "usbsloe" LOC= "G14";
NET "usbslwr" LOC= "J12";
NET "usbifclk" LOC= "G12";
NET "usbadr[0]" LOC="H13";
NET "usbadr[1]" LOC="H14";
NET "usbpktend" LOC="J11";
NET "usbcs" LOC="G16";
NET "usbslrd" LOC="K11";
NET "addata[13]" LOC= "B10";
NET "addata[12]" LOC= "A11";
NET "addata[11]" LOC= "C8";
NET "addata[10]" LOC= "B6";
NET "addata[9]" LOC= "B5";
NET "addata[8]" LOC= "A4";
NET "addata[7]" LOC= "D11";
NET "addata[6]" LOC= "E11";
NET "addata[5]" LOC= "D9";
NET "addata[4]" LOC= "F9";
NET "addata[3]" LOC= "D8";
NET "addata[2]" LOC= "C7";
NET "addata[1]" LOC= "D6";
NET "addata[0]" LOC= "C4";
NET "addata[14]" LOC= "D5";
NET "adclk" LOC= "E6";
NET "iii" LOC= "N6";

//NET "lcdd<15>" LOC= "E6";
//NET "lcdd<14>" LOC= "D5";
//NET "lcdd<13>" LOC= "C4";
//NET "lcdd<12>" LOC= "D6";
//NET "lcdd<11>" LOC= "C7";
//NET "lcdd<10>" LOC= "D8";
//NET "lcdd<9>" LOC= "F9";
//NET "lcdd<8>" LOC= "D9";
//NET "lcdd<7>" LOC= "E11";
//NET "lcdd<6>" LOC= "D11";
//NET "lcdd<5>" LOC= "A4";
//NET "lcdd<4>" LOC= "B5";
//NET "lcdd<3>" LOC= "B6";
//NET "lcdd<2>" LOC= "C8";
//NET "lcdd<1>" LOC= "B8";
//NET "lcdd<0>" LOC= "A11";
//NET "lcdrst" LOC="B10";
//NET "lcdrd" LOC="B12";
//NET "lcdwr" LOC="C13";
//NET "lcdrs" LOC="B14";
//NET "lcdcs" LOC="A13";
